<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Organic Ledger</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="common/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="common/css/style.css" />
		<link rel="stylesheet" href="common/css/responsive.css" />
	</head>
	<body>
        <h1>Successs!!!</h1>
        </body>
