<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Organic Ledger</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="common/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="common/css/style.css" />
		<link rel="stylesheet" href="common/css/responsive.css" />

	<body>
		<!--login form -->
		<div class="bank-section">
			<div class="login-section bank-login-section">
				<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
					<div class="card card0 border-0">
						<div class="d-flex flex-wrap align-items-center pt-4 pb-4">
							<div class="col-md-6">
								
								<img src="common/images/image01.png" alt="" width="400" class="m-auto">
								
							</div>
							<div class="col-md-6">
								<div class="card2  border-0 px-4 py-5">
									<a href="bank-login.html">
										<img src="common/images/site-logo-2.png" alt="" width="224" height="52" class="m-auto">
									</a>
									<h2>Your OrLe Bank</h2>
									<form action="rewards.html" method="post" name="login">
										<div class="form-group">
											<label for="email">Email address</label>
											<input type="email" name="email"  class="form-control" id="email"  placeholder="" required>
										</div>
										<div class="form-group">
											<label for="password">Password</label>
											<input type="password" name="password" id="password"  class="form-control"  placeholder="" required>
										</div>
										<div class="form-group custom-checkobox d-none">
											<p class=" d-flex flex-wrap justify-content-between">
												<span class="d-flex align-items-center">
													<input type="checkbox"  name="remember" checked="checked" id="remember">  <label for="remember">Remember Me</label>
												</span>
												<span><a href="forget-password.html" class="text-light-green d-none">Forgot Password?</a></span>
											</p>
										</div>
										<div class="col-md-12">
											<button type="submit" class=" btn btn-block custom-btn">Login</button>
										</div>
										
										<div class="form-group">
											<p class="create-account text-center">You Don’t have an account?
												<a href="bank-register.html" id="signup">Register</a></p>
											</div>
										</form>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--login -->
			<script type="text/javascript" src="common/js/3.2.1.min.js"></script>
			<script type="text/javascript" src="common/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script type="text/javascript" src="common/js/custom.js"></script>
		</body>
	</html>