<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Blockchain Ledger Explorer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="common/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="common/css/style.css" />
		<link rel="stylesheet" href="common/css/responsive.css" />
	</head>
	<body>
		<div class="dashboard-section " id="body-row">
			<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
				<div class="side-header">
					<ul class="list-group">
						<li class="list-group-item d-flex align-items-center menu-collapsed">
							<a href="index.html">
								<img src="common/images/logo.png" alt="" class="menu-title" width="250">
								<img src="common/images/website-small-logo.png" alt="" class="main-small-logo">
							</a>
						</li>
					</ul>
				</div>
				<div class="side-body">
					<ul class="list-group">
						<a href="register-product.html" class="list-group-item list-group-item-action flex-column align-items-start ">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/icon01.svg" width="26" height="26" alt=""></span>
								<span class="menu-title">Register the Product</span>
							</div>
						</a>
						<a href="update-product-status.html" class="list-group-item list-group-item-action flex-column align-items-start ">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/icon02.svg" width="26" height="26" alt=""></span>
								<span class="menu-title">Update Status</span>
							</div>
						</a>
						<a href="notification.html" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-start align-items-center ">
								<span><img src="common/images/icon03.png" width="26" height="26" alt=""></span>
								<span class="menu-title">Notification</span>
							</div>
						</a>
						<a href="product-management.html" class="list-group-item list-group-item-action flex-column align-items-start ">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/icon04.svg" width="26" height="26" alt=""></span>
								<span class="menu-title">Products Management</span>
							</div>
						</a>
						<a href="iot-sensors-management.html" class="list-group-item list-group-item-action flex-column align-items-start ">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/icon05.svg" width="26" height="26" alt=""></span>
								<span class="menu-title">IoT Sensors Management</span>
							</div>
						</a>
						<a href="orders-management.html" class="list-group-item list-group-item-action flex-column align-items-start ">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/icon06.svg" width="26" height="26" width="26" height="26" alt=""></span>
								<span class="menu-title">Orders Management</span>
							</div>
						</a>
						<a href="blockchain-ledger-explorer.html" class="list-group-item list-group-item-action flex-column align-items-start current-page-active">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/icon07.svg" width="26" height="26" alt=""></span>
								<span class="menu-title">Blockchain Ledger Explorer</span>
							</div>
						</a>
						<a href="tracking-journey.html" class="list-group-item list-group-item-action flex-column align-items-start ">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/icon08.svg" width="26" height="26" alt=""></span>
								<span class="menu-title">Tracking Journey</span>
							</div>
						</a>
					</ul>
				</div>
				<div class="side-footer">
					<ul class="list-group">
						<a href="index.html"  class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-start align-items-center">
								<span><img src="common/images/logout.svg" alt=""></span>
								<span class="menu-title">Logout</span>
							</div>
						</a>
					</ul>
				</div>
			</div>
			<div class="main main-expanded">
				<nav class="">
					<a href="#" class="sidebar-toggle" data-toggle="sidebar-colapse">
						<img src="common/images/menu.png" width="22" height="22" alt="">
					</a>
					<span class="main-heading">Blockchain Ledger Explorer</span>
					<div class="user-profile">
						<a href="profile.html"><img src="common/images/user-icon.png" alt=""></a>
						<a href="profile.html"><span class="user-name">Claude McKenna</span></a>
					</div>
				</nav>
				<main class="content">
					<div class="blockchain-section2 mb-4">
						<div class="activities-blocks-row">
							<div class="activities-blocks-col">
								
								<div class="recent-blocks-header">
									<div class="recent-blocks-col w-50"><span>Product ID</span></div>
									<div class="recent-blocks-col w-50"><span>Product Name </span></div>
								</div>
								<div class="recent-blocks-body">
									<div class="recent-blocks-row">
										<div class="recent-blocks-col w-50"><span class="block-id">WR2145</span></div>
										<div class="recent-blocks-col w-50"><span>White Rice </span></div>
									</div>
									<!--<div class="recent-blocks-row">
										<div class="recent-blocks-col w-50"><span class="block-id">SB1452</span></div>
										<div class="recent-blocks-col w-50"><span>Soybean </span></div>
									</div>-->

								</div>
							</div>
						</div>
					</div>
					<div class="blockchain-section1">
						<div class="ledger-row">
							<div class="ledger-col">
								<span class="small-heading">Current Block</span>
								<span class="large-heading">#36 854 335</span>
							</div>
							<div class="ledger-col">
								<span class="small-heading">Last Block</span>
								<span class="large-heading">1 second ago</span>
							</div>
							<div class="ledger-col">
								<span class="small-heading">TRX / SEC</span>
								<span class="large-heading">10.28</span>
							</div>
							<div class="ledger-col">
								<span class="small-heading">Avg Computation Time</span>
								<span class="large-heading">1.50s</span>
							</div>
						</div>
						<div class="ledger-row">
							<div class="ledger-col">
								<span class="small-heading">Active Nodes</span>
								<span class="large-heading">23</span>
							</div>
							<div class="ledger-col">
								<span class="small-heading">Active Members</span>
								<span class="large-heading">11</span>
							</div>
							<div class="ledger-col">
								<span class="small-heading">Data / Block (MB)</span>
								<span class="large-heading">30.25</span>
							</div>
							<div class="ledger-col">
								<span class="small-heading">Recently Missed Blocks</span>
								<span class="large-heading">0</span>
							</div>
						</div>
						<div class="ledger-row">
							<div class="ledger-col">
								<span class="small-heading">Current Supplier</span>
								<span class="large-heading">2 711 219 502</span>
							</div>
							<div class="ledger-col">
								<span class="small-heading">TRX / SEC</span>
								<img src="common/images/graph-1.png" alt="">
							</div>
							<div class="ledger-col">
								<span class="small-heading">Data / Block</span>
								<img src="common/images/graph-2.png" alt="">
							</div>
							<div class="ledger-col">
								<span class="small-heading">?</span>
								<span class="large-heading">290 989</span>
							</div>
						</div>
					</div>
					<div class="blockchain-section2">
						<div class="activities-blocks-row">
							<div class="activities-blocks-col">
								<h2>Recent Activities</h2>
								<span class="small-heading">Info</span>
								<div class="recent-activities">
									<div class="recent-activitiy">
										<a href="#" class="button">Approved Order</a>
										<div class="desc">
											<p>User <span>1234</span> John Smith Approved order for<br> block <span>#568466332556</span> <br>
											Description : Organic Certificate uploaded
										</p>
									</div>
								</div>
								<div class="recent-activitiy">
									<a href="#" class="button">Rejected Order</a>
									<div class="desc">
										<p>User <span>2145</span> Alex Doe Rejected order for<br> block <span>#458463255666
									</span><br>
									Description : Organic Certificate uploaded
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="activities-blocks-col">
					<h2>Recent Blocks</h2>
					<div class="recent-blocks-header">
						<div class="recent-blocks-col"><span>Block ID</span></div>
						<div class="recent-blocks-col"><span>Member </span></div>
						<div class="recent-blocks-col"><span>Transaction</span></div>
						<div class="recent-blocks-col"><span>Date &Time</span></div>
					</div>
					<div class="recent-blocks-body">
						<div class="recent-blocks-row">
							<div class="recent-blocks-col"><span class="block-id">#954862554889</span></div>
							<div class="recent-blocks-col"><span>John Smith </span></div>
							<div class="recent-blocks-col"><span>10</span></div>
							<div class="recent-blocks-col"><span>10/5/2021 5:12 IST</span></div>
						</div>
						<div class="recent-blocks-row">
							<div class="recent-blocks-col"><span class="block-id">#456123789125</span></div>
							<div class="recent-blocks-col"><span>Kevin Brown </span></div>
							<div class="recent-blocks-col"><span>10</span></div>
							<div class="recent-blocks-col"><span>7/5/2021 16:56 IST</span></div>
						</div>
						<div class="recent-blocks-row">
							<div class="recent-blocks-col"><span class="block-id">#954862554889</span></div>
							<div class="recent-blocks-col"><span>John Smith </span></div>
							<div class="recent-blocks-col"><span>10</span></div>
							<div class="recent-blocks-col"><span>10/5/2021 5:12 IST</span></div>
						</div>
						<div class="recent-blocks-row">
							<div class="recent-blocks-col"><span class="block-id">#456123789125</span></div>
							<div class="recent-blocks-col"><span>Kevin Brown </span></div>
							<div class="recent-blocks-col"><span>10</span></div>
							<div class="recent-blocks-col"><span>7/5/2021 16:56 IST</span></div>
						</div>
						<div class="recent-blocks-row">
							<div class="recent-blocks-col"><span class="block-id">#954862554889</span></div>
							<div class="recent-blocks-col"><span>John Smith </span></div>
							<div class="recent-blocks-col"><span>10</span></div>
							<div class="recent-blocks-col"><span>10/5/2021 5:12 IST</span></div>
						</div>
						<div class="recent-blocks-row">
							<div class="recent-blocks-col"><span class="block-id">#456123789125</span></div>
							<div class="recent-blocks-col"><span>Kevin Brown </span></div>
							<div class="recent-blocks-col"><span>10</span></div>
							<div class="recent-blocks-col"><span>7/5/2021 16:56 IST</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</main>
	<footer class="footer">
		<div class="copyright"><p>Copyright 2020-2021 <a href="#">Organic Ledger</a></p></div>
	</footer>
	
</div>
</div>

<script type="text/javascript" src="common/js/3.2.1.min.js"></script>
<script type="text/javascript" src="common/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="common/js/custom.js"></script>
</body>
</html>