<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>forget password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="common/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="common/css/style.css" />
		<link rel="stylesheet" href="common/css/responsive.css" />
	</head>
	<body>
		<!--login form -->
		<div class="login-section">
			<div class="d-flex flex-wrap">
				<div class="col-md-6 bg-blue">
					<a href="index.html" class="site-logo"><img src="common/images/logo.png" alt="" width="308" height="70"></a>
					<img src="common/images/vector01.png" alt="" class="m-auto welcome-img">
					<div class="welcome-section">
						<h1 class="text-center">Forget Password</h1>
						<p class="text-center text-white">You can reset your password here. </p>
					</div>
				</div>
				<div class="col-md-6 right-col">
					
					<h4>Please enter email address</h4>
					<form action="index.html" method="post" name="login">
						<div class="form-group">
							<label for="email"></label>
							<input type="email" name="email"  class="form-control" id="email"  placeholder="" required>
						</div>
						<!--<div class="form-group">
							<label for="password">New Password</label>
							<input type="password" name="password" id="password"  class="form-control"  placeholder="" required>
						</div>
						<div class="form-group">
							<label for="confirm_password">Confirm New Password</label>
							<input type="password" name="confirm_password" id="confirm_password"  class="form-control"  placeholder="" required>
						</div>	-->					
					
						<div class="col-md-12">
							<button type="submit" class=" btn btn-block custom-btn">Reset Password</button>
						</div>
						
						
						</form>
						
					</div>
					
		   </div>
		</div>
				<!--login -->
				<script type="text/javascript" src="common/js/3.2.1.min.js"></script>
				<script type="text/javascript" src="common/bootstrap/js/bootstrap.bundle.min.js"></script>
				<script type="text/javascript" src="common/js/custom.js"></script>
			</body>
		</html>