<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Organic Ledger</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="common/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="common/css/style.css" />
		<link rel="stylesheet" href="common/css/responsive.css" />
	</head>
	<body>
		<!--login form -->
		<div class="login-section">
			<div class="d-flex flex-wrap">
				<div class="col-md-6 bg-blue">
					<a href="index.html" class="site-logo"><img src="common/images/logo.png" alt="" width="308" height="70"></a>
					<img src="common/images/vector01.svg" alt="" class="m-auto welcome-img">
					<div class="welcome-section">
						<h1 class="text-center">Welcome You!</h1>
						<p class="text-center text-white"> 
							Organic Ledger is a single trusted source of truth.
							Give your customers the power of Blockchain and Internet of Things.
							Step into the future of transparency and traceability.
							</p>
					</div>
				</div>
				<div class="col-md-6 right-col">
					
					<h2>Let’s get you started</h2>
					<form action="register-product.html" method="post" name="login">
						<div class="form-group">
							<label for="email">Email Address / Phone Number</label>
							<input type="email" name="email"  class="form-control" id="email"  placeholder="" required>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password"  class="form-control"  placeholder="" required>
						</div>
						<div class="form-group custom-checkobox">
							<p class=" d-flex flex-wrap justify-content-between">
								<span class="d-flex align-items-center">
									<!--<img src="common/images/right-icon.png" alt="" class="pr-2"><a href="#">Remember Me</a>-->
									
									<input type="checkbox"  name="remember" checked="checked" id="remember">  <label for="remember">Remember Me</label>
								</span>
								<span><a href="forget-password.html" class="text-blue">Forgot Password?</a></span>
							</p>
						</div>
						<div class="col-md-12">
							<button type="submit" class=" btn btn-block custom-btn">Login</button>
						</div>
						
						<div class="form-group">
							<p class="create-account">You Don’t have an account?
								<a href="register.html" id="signup">Register</a></p>
							</div>
						</form>
						
					</div>
					
		   </div>
		</div>
				<!--login -->
				<script type="text/javascript" src="common/js/3.2.1.min.js"></script>
				<script type="text/javascript" src="common/bootstrap/js/bootstrap.bundle.min.js"></script>
				<script type="text/javascript" src="common/js/custom.js"></script>
			</body>
		</html>